header {
  background-image: url('./assets/images/bg-header-desktop.svg');
  background-size: 100%;
  background-clip: content-box;
  object-fit: cover;
}

@media (max-width: 56em) {
  header {
    background-size: 150%
  }
}